<footer>
  <div class="wrapper">
    <div class="row">
      <div class="col-12 col-md-3">
        <h3>NFTS</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vakaptate,
          quod reprettat.
        </p>
        <p>Quit, quos dolorum tenefer fugit?</p>
        <p>Apprentice: norem quae amet.</p>
      </div>

      <!-- My Account Section -->
      <div class="col-12 col-md-2">
        <h3>My Account</h3>
        <ul class="list-unstyled">
          <li>Author Profile</li>
          <li>Create Item</li>
          <li>Collection</li>
          <li>Edit Profile</li>
        </ul>
      </div>

      <!-- Resources Section -->
      <div class="col-12 col-md-2">
        <h3>Resources</h3>
        <ul class="list-unstyled">
          <li>Help Center</li>
          <li>Partner</li>
          <li>Community</li>
          <li>Activity</li>
        </ul>
      </div>

      <!-- Company Section -->
      <div class="col-12 col-md-2">
        <h3>Company</h3>
        <ul class="list-unstyled">
          <li>About</li>
          <li>Career</li>
          <li>Ranking</li>
          <li>Contact Us</li>
        </ul>
      </div>

      <!-- Newsletter Section -->
      <div class="col-12 col-md-3">
        <h3>Newsletter</h3>
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Email" />
        </div>
      </div>
    </div>
  </div>
</footer>
