

<ion-grid class="hero">
  <ion-row>
    <ion-col size-md="6" size="12" class="hero-text">
      <h1>Discover rare digital art and collect <span class="highlight">extraordinary</span> NFTs</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <div class="buttons">
        <ion-button fill="outline" routerLink="/market">Explore</ion-button>
        <ion-button routerLink="/create" >Create</ion-button>
      </div>
    </ion-col>
    <ion-col size-md="6" size="12">
      <img src="assets/images/hero.jpg" alt="NFT Illustration" class="hero-image">

    </ion-col>
  </ion-row>

</ion-grid>