.hero {
  color: white;

  padding: 128px;
  display: flex; /* Use Flexbox to align content and image */
  align-items: center; /* Vertically center the content and image */
  justify-content: space-between; /* Space between content and image */



  .highlight {
    background: linear-gradient(-45deg, #e250e5, #4b50e6, #e250e5, #4b50e6);
    background-size: 100% 100%;
    background-clip: text;
    -webkit-text-stroke: 3px transparent;
    -webkit-text-fill-color: #14141f;
    margin-left: 7px !important;
    display: inline-block;
  }

  ion-button {
    margin-right: 10px;
  }
  .hero-text {
   margin: auto;
  }
  .hero-image {

    border-radius: 10px; /* Optional: Add rounded corners */
  }
}
@media screen and (max-width: 768px) {
  .hero {
    padding: 64px;
    flex-direction: column; /* Stack content and image */
     /* Center text */
  }
  .hero-image {
    margin-top: 32px; /* Add space between image and text */
  }

}