<section class="common__section">
  <div class="ion-text-center">
    <h1>{{ title }}</h1>

    <section>
      <ion-grid>
        <!--   Filter   -->
        <ion-row>
          <ion-col size="auto" >
            <ion-list  class="ion-padding" >
              <ion-item class="ion-text-center"  >
                <ion-select
                  aria-label="Fruit"
                  interface="popover"
                  placeholder="Select fruit" 
                  >
                  <ion-select-option value="apples"  >Apples</ion-select-option>
                  <ion-select-option value="oranges" >Oranges</ion-select-option>
                  <ion-select-option value="bananas" >Bananas</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </section>
  </div>
</section>
