<ion-header class="bg-transparent">
  <ion-toolbar>

    <ion-title slot="start">
      <ion-icon src="/assets/icon/nft-line.svg"></ion-icon>
      NFTs
    </ion-title>
    <ion-buttons >
      <ion-button>Home</ion-button>
      <ion-button>Market</ion-button>
      <ion-button>Create</ion-button>
      <ion-button>Contact</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="outline" shape="round">
        <ion-icon src="/assets/icon/wallet-outline.svg"></ion-icon>
        Connect Wallet
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
