<ion-header class="bg-transparent">
  <ion-toolbar>

    <ion-title slot="start">
      <ion-icon src="/assets/icon/nft-line.svg"></ion-icon>
      NFTs
    </ion-title>
    <ion-buttons >
      <ion-button [routerLink]="['/home']">Home</ion-button>
      <ion-button [routerLink]="['/market']">Market</ion-button>
      <ion-button [routerLink]="['/create']">Create</ion-button>
      <ion-button [routerLink]="['/contact']">Contact</ion-button>
    </ion-buttons>

      <ion-button fill="outline" shape="round">
        <ion-icon src="/assets/icon/wallet-outline.svg"></ion-icon>
        Connect Wallet
      </ion-button>

  </ion-toolbar>
</ion-header>
