ion-header, ion-toolbar {
  --background: transparent ; /* Overrides Ionic's default */


  box-shadow: none; /* Removes shadow */
}


ion-title {
  color: #fff;
}

ion-buttons {
  display: flex;
  justify-content: center;
  flex: 1;
}

ion-button {
  color: #fff;
  margin: 0 0.5rem;
}

ion-button[fill="outline"] {
  margin-left: auto;
  color: #ffffff;
  background: transparent;
  border-width: 0px;

}

