::ng-deep ion-header {
  background: #5601f4 ;
}

ion-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  border-bottom: none;
}

ion-title {
  color: #fff;
}

ion-buttons {
  display: flex;
  justify-content: center;
  flex: 1;
}

ion-button {
  color: #fff;
  margin: 0 0.5rem;
}

ion-button[fill="outline"] {
  margin-left: auto;
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
}

ion-button[fill="outline"]:hover {
  background: #fff;
  color: #000;
}
