<ion-grid>
  <ion-row>
    <ion-col class="ion-hide-md-down">
      <ion-header>
        <ion-toolbar>
          <ion-title>NFTs</ion-title>
          <ion-buttons slot="end">
            <ion-button routerLink="home">Home</ion-button>
            <ion-button routerLink="market">Market</ion-button>
            <ion-button routerLink="create">Create</ion-button>
            <ion-button routerLink="/contact">Contact</ion-button>
            <ion-button fill="outline">Connect Wallet</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
    </ion-col>
  </ion-row>

  <!-- Drawer -->
  <ion-row class="ion-hide-md-up">
    <ion-menu
      side="end"
      contentId="main-content"
      size-lg="0"
      size-md="0"
      size-sm="12"
      size-xs="12"
    >
      <ion-header>
        <ion-toolbar>
          <ion-title>NFTs</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">This is the menu content.</ion-content>
    </ion-menu>
  </ion-row>

  <div class="ion-page" id="main-content" class="ion-hide-md-up">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
        <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  </div>
</ion-grid>
