<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-card-title style="color: white">
            <h2>View History</h2>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <table class="table">
            <thead>
              <tr>
                <th>Event</th>
                <th>Price</th>
                <th>From</th>
                <th>To</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Created</td>
                <td>0.00</td>
                <td>0x</td>
                <td>0x</td>
                <td>2021-09-01</td>
              </tr>
              <tr>
                <td>Created</td>
                <td>0.00</td>
                <td>0x</td>
                <td>0x</td>
                <td>2021-09-01</td>
              </tr>
              <tr>
                <td>Created</td>
                <td>0.00</td>
                <td>0x</td>
                <td>0x</td>
                <td>2021-09-01</td>
              </tr>
            </tbody>
          </table>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
