.hero {
    color: white;
  
    padding: 90px;
    display: flex; /* Use Flexbox to align content and image */
    align-items: center; /* Vertically center the content and image */
    justify-content: space-between; /* Space between content and image */
  
    .hero-content {
      max-width: 60%; /* Limit the width of the text and buttons */
    }
  
    .highlight {
      color: #a855f7; // Purple text
    }
  
    ion-button {
      margin-right: 10px;
    }
  
    .hero-image {
      max-width: 35%; /* Adjust the image size */
      height: auto; /* Maintain aspect ratio */
      border-radius: 10px; /* Optional: Add rounded corners */
    }
  }
  
  ion-card {
    background: #1a1a3f;
    color: white;
  }