section {
  padding: 20px;

  .live__auction__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h3 {
      margin: 0;
      font-size: 1.5rem;
      color: #ffffff;
    }

    a {
      color: #3273dc;
      text-decoration: none;
      font-size: 1rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .nft-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    align-items: center ;
  }

  .nft-card {
    display: flex;
    justify-content: center;
  }
}