<ion-app>
  <ion-content>
    <ion-row>
      <ion-col size="3" class="center-content" id="menu">
        <ion-list lines="full" class="ion-text-center ion-margin ion-padding">
          <ion-item>
            <ion-label>Dashboard</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Transactions</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>WithDraw</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Config</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="9">
        <ion-router-outlet></ion-router-outlet>
      </ion-col>
    </ion-row>
  </ion-content>
</ion-app>
