.hero {
  color: white;
  background: #0b0b21;
  padding: 50px;

  .highlight {
    color: #a855f7; // Purple text
  }

  ion-button {
    margin-right: 10px;
  }
}

ion-card {
  background: #1a1a3f;
  color: white;
}
